@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
:root {
  --primary-color: #fdc401;
}

body {
  font-family: "Exo 2", sans-serif;
}
a {
  list-style: none;
}
.main-container {
  width: 100%;
  height: 250px;
  background: var(--primary-color);
  position: relative;
  margin-bottom: 80px;
  border-bottom: 4px solid black;
}
.main-container .user-image {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
  padding: 5px;
  background-color: white;
}
.buttons-container {
  width: 50%;
  margin-bottom: 4rem;
}
.buttons {
  position: relative;
  margin-bottom: 16px;
  background-color: var(--primary-color);
  color: black;
  border: 1px solid black;
  border-radius: 0.375rem;
  padding: 0.75rem 1.75rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.buttons:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: all 0.5s;
}
.buttons:hover:after {
  width: 100%;
}
.buttons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  transition: all 0.5s;
  transition-delay: 0.2s;
}
.buttons:hover:before {
  width: 100%;
}
.button-content {
  position: relative;
  color: black;
  z-index: 2;
}

.footer {
  background-color: rgba(249, 250, 252, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 3;
}

@media (max-width: 425px) {
  .buttons-container {
    width: 100%;
  }
}
